<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="fr.inria.soctrace.tools.ocelotl.ui.category"
            name="Ocelotl">
      </category>
      <view
            allowMultiple="true"
            category="fr.inria.soctrace.tools.ocelotl.ui.category"
            class="fr.inria.soctrace.tools.ocelotl.ui.views.OcelotlView"
            icon="icons/ocelotl16.png"
            id="fr.inria.soctrace.tools.ocelotl.ui.OcelotlView"
            name="Ocelotl"
            restorable="true">
      </view>
   </extension>
   <extension
         point="fr.inria.soctrace.framesoc.core.tool">
      <tool
            class="fr.inria.soctrace.tools.ocelotl.ui.OcelotlTool"
            doc="No launching arguments needed."
            name="Ocelotl"
            id="fr.inria.soctrace.tools.ocelotl"
            type="ANALYSIS">
      </tool>
   </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fr.inria.soctrace.tools.ocelotl.ui.handler.ShowOcelotlHandler"
            id="fr.inria.soctrace.tools.ocelotl.ui.command.ShowOcelotl"
            name="Show in Ocelotl">
      </command>
   </extension>
   <extension
         point="fr.inria.soctrace.framesoc.ui.perspective.part">
      <part
            icon="icons/ocelotl16.png"
            launchCommand="fr.inria.soctrace.tools.ocelotl.ui.command.ShowOcelotl"
            position="TOP_RIGHT"
            priority="3"
            viewId="fr.inria.soctrace.tools.ocelotl.ui.OcelotlView">
      </part>
   </extension>
</plugin>
