<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		id="idGenericStatistics"
		name="Statistics"
		point="fr.inria.soctrace.tools.ocelotl.core.statistics">
		<statistic_operator
			class="fr.inria.soctrace.tools.ocelotl.statistics.operators.SummaryStat"
			operator="Summary"
			param_config=""
			param_win=""
			metric_compatibility="ALL, VARIABLE"
			aggregator_compatibility="2D, 3D"
			selection_priority="1"
			leave_aggregation_compatiblity="true"
			view="fr.inria.soctrace.tools.ocelotl.statistics.view.StatTableView">
		</statistic_operator>
		<statistic_operator
			class="fr.inria.soctrace.tools.ocelotl.statistics.operators.StateSummaryStat"
			operator="State Summary"
			param_config=""
			param_win=""
			metric_compatibility="STATE"
			aggregator_compatibility="2D, 3D"
			selection_priority="3"
			leave_aggregation_compatiblity="true"
			view="fr.inria.soctrace.tools.ocelotl.statistics.view.StatTableView">
		</statistic_operator>
		<statistic_operator
			class="fr.inria.soctrace.tools.ocelotl.statistics.operators.StateLeaveSummaryStat"
			operator="Leaves State Summary"
			param_config=""
			param_win=""
			metric_compatibility="STATE"
			aggregator_compatibility="2D, 3D"
			selection_priority="2"
			leave_aggregation_compatiblity="true"
			view="fr.inria.soctrace.tools.ocelotl.statistics.view.StatTableView">
		</statistic_operator>
		<statistic_operator
			class="fr.inria.soctrace.tools.ocelotl.statistics.operators.StateActiveProducerSummaryStat"
			operator="Active Producers State Summary"
			param_config=""
			param_win=""
			metric_compatibility="STATE"
			aggregator_compatibility="2D, 3D"
			selection_priority="4"
			leave_aggregation_compatiblity="false"
			view="fr.inria.soctrace.tools.ocelotl.statistics.view.StatTableView">
		</statistic_operator>
	</extension>
</plugin>
