<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="idPaje"
         name="PajeTimeAggregationOperators"
         point="fr.inria.soctrace.tools.ocelotl.core.timeaggregopext">
      <aggregation_operator
            class="fr.inria.soctrace.tools.ocelotl.timeaggregop.paje.operators.PajeStateSum"
            generic="false"
            param_config="fr.inria.soctrace.tools.ocelotl.timeaggregop.paje.config.PajeConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.timeaggregop.paje.ui.PajeSetStateView"
            spatial_compatibility="2D"
            trace_formats="Paje 1.2.5"
            operator="Paje State Sum">
      </aggregation_operator>
      <aggregation_operator
            class="fr.inria.soctrace.tools.ocelotl.timeaggregop.paje.operators.PajeNormalizedStateSum"
            generic="false"
            param_config="fr.inria.soctrace.tools.ocelotl.timeaggregop.paje.config.PajeConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.timeaggregop.paje.ui.PajeSetStateView"
            spatial_compatibility="2D"
            trace_formats="Paje 1.2.5"
            operator="Paje State Sum (Normalized)">
      </aggregation_operator>
      <aggregation_operator
            class="fr.inria.soctrace.tools.ocelotl.timeaggregop.paje.operators.PajeStateTypeSum"
            generic="false"
            param_config="fr.inria.soctrace.tools.ocelotl.timeaggregop.paje.config.PajeConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.timeaggregop.paje.ui.PajePushPopStateView"
            spatial_compatibility="2D, 3D"
            trace_formats="Paje 1.2.5"
            operator="Paje State Type Sum">
      </aggregation_operator>
      <aggregation_operator
            class="fr.inria.soctrace.tools.ocelotl.timeaggregop.paje.operators.PajePushPopStateTypeSum"
            generic="false"
            param_config="fr.inria.soctrace.tools.ocelotl.timeaggregop.paje.config.PajeConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.timeaggregop.paje.ui.PajePushPopStateView"
            spatial_compatibility="2D, 3D"
            trace_formats="Paje 1.2.5"
            operator="Paje State Type Sum (PushPop)">
      </aggregation_operator>
   </extension>

</plugin>
