<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="idGenericSpace"
         name="GenericSpaceAggregationOperators"
         point="fr.inria.soctrace.tools.ocelotl.core.visualization">
      <aggregation_operator
            class="fr.inria.soctrace.tools.ocelotl.visualizations.operators.parts.Parts"
            operator="Parts"
            param_config="fr.inria.soctrace.tools.ocelotl.visualizations.operators.parts.config.PartsConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.visualizations.operators.parts.config.PartsConfigView"
            time_compatibility="Parts"
            visualization="fr.inria.soctrace.tools.ocelotl.visualizations.operators.parts.views.PartTimeLineView">
      </aggregation_operator>
      <aggregation_operator
            class="fr.inria.soctrace.tools.ocelotl.visualizations.operators.stateproportion.StateProportion"
            operator="State Proportion"
            param_config="fr.inria.soctrace.tools.ocelotl.visualizations.operators.stateproportion.config.StateProportionConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.visualizations.operators.stateproportion.config.ManageColorsDialog"
            time_compatibility="StateProportion"
            visualization="fr.inria.soctrace.tools.ocelotl.visualizations.operators.stateproportion.views.StateProportionTimeLineView">
      </aggregation_operator>
   </extension>

</plugin>
