<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.inria.soctrace.framesoc.core.tool">
      <tool
            class="fr.inria.soctrace.tools.paje.tracemanager.traceimporter.PajeTraceImporterTool"
            doc="[-desc trace description] [-log log file]"
            name="Paje Importer"
            type="IMPORT">
      </tool>
      <tool
            class="fr.inria.soctrace.tools.paje.tracemanager.traceexporter.PajeTraceExporterTool"
            doc="[-db trace_db_name] [-output trace_file]"
            name="Paje Exporter"
            type="EXPORT">
      </tool>
      <tool
            class="fr.inria.soctrace.tools.paje.tracemanager.tracecleaner.PajeTraceCleanerTool"
            doc="argument: traceDB"
            name="Paje Cleaner"
            type="ANALYSIS">
      </tool>
   </extension>
   
   
   <!--
   <extension
         point="fr.inria.soctrace.framesoc.ui.tclAdapter">
      <tclAdapter
            contentProvider="fr.inria.soctrace.tools.paje.tracemanager.tcladapter.PajeTclContentProvider"
            labelProvider="fr.inria.soctrace.tools.paje.tracemanager.tcladapter.PajeTclLabelProvider"
            modelInput="fr.inria.soctrace.tools.paje.tracemanager.tcladapter.PajeTclInput"
            traceTypeName="fr.inria.soctrace.tools.paje.tracemanager.common.constants.PajeConstants.PajeFormatName">
      </tclAdapter>
   </extension>
 	-->

</plugin>
