<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="FrameSoC Filters"
            id="fr.inria.soctrace.tools.filters.ui.category.filters">
      </category>
      <view
            name="Filter"
            icon="icons/1366759848_filter_data.png"
            category="fr.inria.soctrace.tools.filters.ui.category.filters"
            class="fr.inria.soctrace.tools.filters.ui.views.FilterView"
            id="fr.inria.soctrace.tools.filters.ui.views.FilterView">
      </view>
   </extension>
   <extension
         point="fr.inria.soctrace.framesoc.core.tool">
      <tool
            class="fr.inria.soctrace.tools.filters.ui.FilterTool"
            doc="No launching arguments needed."
            name="Filter Tool"
            type="ANALYSIS">
      </tool>
   </extension>

</plugin>
