<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="idGenericTime"
         name="GenericTimeAggregationOperators"
         point="fr.inria.soctrace.tools.ocelotl.core.microscopicdescription">
      <aggregation_operator
            class="fr.inria.soctrace.tools.ocelotl.microdesc.operators.EventDistributionTimeIterator"
            generic="true"
            operator="Event Distribution"
            param_config="fr.inria.soctrace.tools.ocelotl.microdesc.config.DistributionConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.microdesc.ui.StateDistributionView"
            spatial_compatibility="Parts, StateProportion"
            trace_formats="ALL">
      </aggregation_operator>
      <aggregation_operator
            class="fr.inria.soctrace.tools.ocelotl.microdesc.operators.StateDistributionTimeIterator"
            generic="true"
            operator="State Distribution"
            param_config="fr.inria.soctrace.tools.ocelotl.microdesc.config.DistributionConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.microdesc.ui.StateDistributionView"
            spatial_compatibility="Parts, StateProportion"
            trace_formats="ALL">
      </aggregation_operator>
      <aggregation_operator
            class="fr.inria.soctrace.tools.ocelotl.microdesc.operators.StateDistributionSpaceTimeIterator"
            generic="true"
            operator="State Distribution (2D)"
            param_config="fr.inria.soctrace.tools.ocelotl.microdesc.config.DistributionConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.microdesc.ui.StateDistributionView"
            spatial_compatibility="Matrix"
            trace_formats="ALL">
      </aggregation_operator>
   </extension>

</plugin>
