<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="idGenericTime"
         name="GenericTimeAggregationOperators"
         point="fr.inria.soctrace.tools.ocelotl.core.timeaggregopext">
      <aggregation_operator
            class="fr.inria.soctrace.tools.ocelotl.timeaggregop.generic.operators.EventDistribution"
            generic="true"
            operator="Event Distribution"
            param_config="fr.inria.soctrace.tools.ocelotl.timeaggregop.generic.config.DistributionConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.timeaggregop.generic.ui.EventDistributionView"
            spatial_compatibility="Parts"
            trace_formats="ALL">
      </aggregation_operator>
      <aggregation_operator
            class="fr.inria.soctrace.tools.ocelotl.timeaggregop.generic.operators.StateDistributionTimeIterator"
            generic="true"
            operator="State Distribution"
            param_config="fr.inria.soctrace.tools.ocelotl.timeaggregop.generic.config.DistributionConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.timeaggregop.generic.ui.StateDistributionView"
            spatial_compatibility="Parts, StateProportion"
            trace_formats="ALL">
      </aggregation_operator>
   </extension>

</plugin>
