<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.inria.soctrace.framesoc.core.tool">
      <tool
            class="fr.inria.soctrace.tools.importer.paraver.ParaverImporter"
            doc="Select the Paraver .prv file."
            name="Paraver Importer"
            type="IMPORT">
      </tool>
   </extension>

</plugin>
