<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="idGenericSpace"
         name="GenericSpaceAggregationOperators"
         point="fr.inria.soctrace.tools.ocelotl.core.visualization">
      <visualization_operator
            class="fr.inria.soctrace.tools.ocelotl.visualizations.temporal.partition.TemporalPartition"
            operator="Temporal Partition"
            param_config="fr.inria.soctrace.tools.ocelotl.visualizations.config.temporalpartition.PartitionConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.visualizations.config.temporalpartition.PartitionConfigView"
            metric_compatibility="PARTS"
            aggregator_compatibility="2D"
            selection_priority="4"
            overview_visualization="Temporal Partition"
            unit_axis_view="fr.inria.soctrace.tools.ocelotl.visualizations.temporal.partition.views.PartitionAxisView"
            visualization="fr.inria.soctrace.tools.ocelotl.visualizations.temporal.partition.views.TemporalPartitionView">
      </visualization_operator>
      <visualization_operator
            class="fr.inria.soctrace.tools.ocelotl.visualizations.temporal.proportion.TemporalProportion"
            operator="Temporal Stacked Bar Chart"
            param_config="fr.inria.soctrace.tools.ocelotl.visualizations.config.eventcolor.ColorsConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.visualizations.config.eventcolor.OcelotlManageColorsDialog"
            metric_compatibility="PROPORTIONS"
            aggregator_compatibility="2D"
            selection_priority="3"
            overview_visualization="Temporal Mode State"
            unit_axis_view="fr.inria.soctrace.tools.ocelotl.visualizations.temporal.proportion.views.ProportionAxisView"
            visualization="fr.inria.soctrace.tools.ocelotl.visualizations.temporal.proportion.views.TemporalProportionView">
      </visualization_operator>
      <visualization_operator
            class="fr.inria.soctrace.tools.ocelotl.visualizations.spatiotemporal.partition.SpatiotemporalPartition"
            operator="Spatiotemporal Partition"
            metric_compatibility="PARTS"
            param_config="fr.inria.soctrace.tools.ocelotl.visualizations.config.temporalpartition.PartitionConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.visualizations.config.temporalpartition.PartitionConfigView"
            aggregator_compatibility="3D"
            selection_priority="2"
            overview_visualization="Temporal Partition"
            unit_axis_view="fr.inria.soctrace.tools.ocelotl.visualizations.spatiotemporal.views.HierarchyAxisView"
            visualization="fr.inria.soctrace.tools.ocelotl.visualizations.spatiotemporal.partition.views.SpatiotemporalPartitionView">
      </visualization_operator>
      <visualization_operator
            class="fr.inria.soctrace.tools.ocelotl.visualizations.spatiotemporal.mode.SpatiotemporalModeStates"
            operator="Spatiotemporal State Mode"
            param_config="fr.inria.soctrace.tools.ocelotl.visualizations.config.spatiotemporal.SpatioTemporalConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.visualizations.config.spatiotemporal.SpatioTemporalConfigView"
            metric_compatibility="STATEMODE"
            aggregator_compatibility="3D"
            selection_priority="1"
            overview_visualization="Temporal Mode State"
            unit_axis_view="fr.inria.soctrace.tools.ocelotl.visualizations.spatiotemporal.views.HierarchyAxisView"
            visualization="fr.inria.soctrace.tools.ocelotl.visualizations.spatiotemporal.mode.views.SpatiotemporalModeView">
      </visualization_operator>
      <visualization_operator
            class="fr.inria.soctrace.tools.ocelotl.visualizations.spatiotemporal.mode.SpatiotemporalModeEvents"
            operator="Spatiotemporal Event Mode"
  			param_config="fr.inria.soctrace.tools.ocelotl.visualizations.config.spatiotemporal.SpatioTemporalConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.visualizations.config.spatiotemporal.SpatioTemporalConfigView"
            metric_compatibility="EVENTMODE"
            aggregator_compatibility="3D"
            selection_priority="1"
            overview_visualization="Temporal Mode Event"
            unit_axis_view="fr.inria.soctrace.tools.ocelotl.visualizations.spatiotemporal.views.HierarchyAxisView"
            visualization="fr.inria.soctrace.tools.ocelotl.visualizations.spatiotemporal.mode.views.SpatiotemporalModeView">
      </visualization_operator>
      <visualization_operator
            class="fr.inria.soctrace.tools.ocelotl.visualizations.spatiotemporal.mode.SpatiotemporalModeVariables"
            operator="Spatiotemporal Variable Mode"
  			param_config="fr.inria.soctrace.tools.ocelotl.visualizations.config.spatiotemporal.SpatioTemporalConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.visualizations.config.spatiotemporal.SpatioTemporalConfigView"
            metric_compatibility="VARIABLEMODE"
            aggregator_compatibility="3D"
            selection_priority="1"
            overview_visualization="Temporal Mode Event"
            unit_axis_view="fr.inria.soctrace.tools.ocelotl.visualizations.spatiotemporal.views.HierarchyAxisView"
            visualization="fr.inria.soctrace.tools.ocelotl.visualizations.spatiotemporal.mode.views.SpatiotemporalModeView">
      </visualization_operator>
  	  <visualization_operator
            class="fr.inria.soctrace.tools.ocelotl.visualizations.temporal.mode.TemporalModeEvent"
            operator="Temporal Mode Event"
            param_config="fr.inria.soctrace.tools.ocelotl.visualizations.config.eventcolor.ColorsConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.visualizations.config.eventcolor.OcelotlManageColorsDialog"
  			metric_compatibility="EVENTMODE"
            aggregator_compatibility="2D"
            selection_priority="5"
            overview_visualization="Temporal Mode Event"
            unit_axis_view="fr.inria.soctrace.tools.ocelotl.visualizations.temporal.partition.views.PartitionAxisView"
            visualization="fr.inria.soctrace.tools.ocelotl.visualizations.temporal.mode.views.TemporalModeView">
      </visualization_operator>
      <visualization_operator
            class="fr.inria.soctrace.tools.ocelotl.visualizations.temporal.mode.TemporalModeState"
            operator="Temporal Mode State"
            param_config="fr.inria.soctrace.tools.ocelotl.visualizations.config.eventcolor.ColorsConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.visualizations.config.eventcolor.OcelotlManageColorsDialog"
  			metric_compatibility="STATEMODE"
            aggregator_compatibility="2D"
            selection_priority="5"
            overview_visualization="Temporal Mode State"
            unit_axis_view="fr.inria.soctrace.tools.ocelotl.visualizations.temporal.partition.views.PartitionAxisView"
            visualization="fr.inria.soctrace.tools.ocelotl.visualizations.temporal.mode.views.TemporalModeView">
      </visualization_operator>
   </extension>
</plugin>
