<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="idGenericMicroModel"
         name="MicroModel"
         point="fr.inria.soctrace.tools.ocelotl.core.microscopicmodel">
     <microscopic_model
           class="fr.inria.soctrace.tools.ocelotl.microdesc.operators.EventDistribution"
           event_category="ALL"
           generic="true"
           name="Event Occurences"
           selection_priority="3"
           stats_compatibility="EVENT_SUM"
           trace_formats="ALL"
           unit="Events / %TIME"
           unit_description="Events / %TIME"
           visual_compatibility="PARTS, PROPORTIONS, MODE, EVENTMODE">
      </microscopic_model>
      <microscopic_model
            class="fr.inria.soctrace.tools.ocelotl.microdesc.operators.StateDistribution"
            event_category="STATE"
            generic="true"
            name="State Total Duration"
            selection_priority="1"
            stats_compatibility="STATE_SUM"
            trace_formats="ALL"
            unit="%NONE"
            unit_description="Activity Ratio"
            visual_compatibility="PARTS, PROPORTIONS, MODE, STATEMODE">
      </microscopic_model>
      <microscopic_model
            class="fr.inria.soctrace.tools.ocelotl.microdesc.operators.StateAverageDistribution"
            event_category="STATE"
            generic="true"
            name="State Average Duration"
            selection_priority="2"
            stats_compatibility="STATE_AVG"
            trace_formats="ALL"
            unit="Event^-1"
            unit_description="Activity Ratio / Event"
            visual_compatibility="PARTS, PROPORTIONS, MODE, STATEMODE">
      </microscopic_model>
      <microscopic_model
            class="fr.inria.soctrace.tools.ocelotl.microdesc.operators.VariableDistribution"
            event_category="VARIABLE"
            generic="true"
            name="Variable Average Value"
            selection_priority="4"
            stats_compatibility="VARIABLE_AVG"
            trace_formats="ALL"
            unit="%UNKNOWN"
            unit_description="Unknown"
            visual_compatibility="PARTS, PROPORTIONS, VARIABLEMODE">
      </microscopic_model>
   </extension>
       
   <extension
         id="idGenericAggregator"
         name="GenericAggregationOperators"
         point="fr.inria.soctrace.tools.ocelotl.core.timeaggregator">
      <aggregation_operator
            class="fr.inria.soctrace.tools.ocelotl.core.idataaggregop.TemporalAggregation"
            operator="Temporal Aggregation"
            param_config="fr.inria.soctrace.tools.ocelotl.microdesc.config.DistributionConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.microdesc.ui.TypeDistributionView"
            visual_compatibility="PARTS, PROPORTIONS, STATEMODE, EVENTMODE, VARIABLEMODE"
            selection_priority="1"
            dimension="OLP_3D"
            ts_default_number="100">
      </aggregation_operator>
      <aggregation_operator
            class="fr.inria.soctrace.tools.ocelotl.core.idataaggregop.SpatioTemporalLeafAggregation"
            operator="Spatiotemporal Aggregation"
            param_config="fr.inria.soctrace.tools.ocelotl.microdesc.config.DistributionConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.microdesc.ui.HierarchicalDistributionView"
            visual_compatibility="PARTS, STATEMODE, EVENTMODE, VARIABLEMODE"
            selection_priority="2"
            dimension="DLP_2D_Leaf"
            ts_default_number="30">
      </aggregation_operator>
   </extension>
</plugin>
