<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="idGenericMicroModel"
         name="MicroModel"
         point="fr.inria.soctrace.tools.ocelotl.core.microscopicmodel">
     <microscopic_model
     		name="Events"
     		class="fr.inria.soctrace.tools.ocelotl.microdesc.operators.EventDistribution"
     		unit="events"
     		selection_priority = "2"
     		trace_formats="ALL"
     		generic="true"
     		visual_compatibility="PARTS, PROPORTIONS, MODE, EVENTMODE"
            event_category="ALL">
      </microscopic_model>
      <microscopic_model
      		name="States Query OPT"
      		class="fr.inria.soctrace.tools.ocelotl.microdesc.operators.StateDistribution"
      		unit="%TIME"
      		selection_priority = "1"
      		trace_formats="ALL"
     		generic="true"
     		visual_compatibility="PARTS, PROPORTIONS, MODE, STATEMODE"
            event_category="STATE">
      </microscopic_model>
      <microscopic_model
      		name="States Query EP"
      		class="fr.inria.soctrace.tools.ocelotl.microdesc.operators.StateDistributionQueryEP"
      		unit="%TIME"
      		selection_priority = "3"
      		trace_formats="ALL"
     		generic="true"
     		visual_compatibility="PARTS, PROPORTIONS, MODE, STATEMODE"
            event_category="STATE">
      </microscopic_model>
            <microscopic_model
      		name="States Query EPET"
      		class="fr.inria.soctrace.tools.ocelotl.microdesc.operators.StateDistributionQueryEPET"
      		unit="%TIME"
      		selection_priority = "3"
      		trace_formats="ALL"
     		generic="true"
     		visual_compatibility="PARTS, PROPORTIONS, MODE, STATEMODE"
            event_category="STATE">
      </microscopic_model>
            <microscopic_model
      		name="States Query ET"
      		class="fr.inria.soctrace.tools.ocelotl.microdesc.operators.StateDistributionQueryET"
      		unit="%TIME"
      		selection_priority = "3"
      		trace_formats="ALL"
     		generic="true"
     		visual_compatibility="PARTS, PROPORTIONS, MODE, STATEMODE"
            event_category="STATE">
      </microscopic_model>
            <microscopic_model
      		name="States Query NOPT"
      		class="fr.inria.soctrace.tools.ocelotl.microdesc.operators.StateDistributionQueryNOPT"
      		unit="%TIME"
      		selection_priority = "3"
      		trace_formats="ALL"
     		generic="true"
     		visual_compatibility="PARTS, PROPORTIONS, MODE, STATEMODE"
            event_category="STATE">
      </microscopic_model>
                  <microscopic_model
      		name="States Query T"
      		class="fr.inria.soctrace.tools.ocelotl.microdesc.operators.StateDistributionQueryT"
      		unit="%TIME"
      		selection_priority = "3"
      		trace_formats="ALL"
     		generic="true"
     		visual_compatibility="PARTS, PROPORTIONS, MODE, STATEMODE"
            event_category="STATE">
      </microscopic_model>
                  <microscopic_model
      		name="States Query TEP"
      		class="fr.inria.soctrace.tools.ocelotl.microdesc.operators.StateDistributionQueryTEP"
      		unit="%TIME"
      		selection_priority = "3"
      		trace_formats="ALL"
     		generic="true"
     		visual_compatibility="PARTS, PROPORTIONS, MODE, STATEMODE"
            event_category="STATE">
      </microscopic_model>
                  <microscopic_model
      		name="States Query TET"
      		class="fr.inria.soctrace.tools.ocelotl.microdesc.operators.StateDistributionQueryTET"
      		unit="%TIME"
      		selection_priority = "3"
      		trace_formats="ALL"
     		generic="true"
     		visual_compatibility="PARTS, PROPORTIONS, MODE, STATEMODE"
            event_category="STATE">
      </microscopic_model>
      <microscopic_model
     		name="Variables"
     		class="fr.inria.soctrace.tools.ocelotl.microdesc.operators.VariableDistribution"
     		unit="%UNKNOWN"
     		trace_formats="ALL"
     		generic="true"
     		selection_priority = "3"
     		visual_compatibility="PARTS, PROPORTIONS"
            event_category="VARIABLE">
      </microscopic_model>
   </extension>
       
   <extension
         id="idGenericAggregator"
         name="GenericAggregationOperators"
         point="fr.inria.soctrace.tools.ocelotl.core.timeaggregator">
      <aggregation_operator
            class="fr.inria.soctrace.tools.ocelotl.core.idataaggregop.TemporalAggregation"
            operator="Temporal Aggregation"
            param_config="fr.inria.soctrace.tools.ocelotl.microdesc.config.DistributionConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.microdesc.ui.TypeDistributionView"
            visual_compatibility="PARTS, PROPORTIONS, STATEMODE, EVENTMODE"
            selection_priority="1"
            dimension="2D"
            ts_default_number="100">
      </aggregation_operator>
      <aggregation_operator
            class="fr.inria.soctrace.tools.ocelotl.core.idataaggregop.SpatioTemporalAggregation"
            operator="Spatiotemporal Aggregation"
            param_config="fr.inria.soctrace.tools.ocelotl.microdesc.config.DistributionConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.microdesc.ui.HierarchicalDistributionView"
            visual_compatibility="PARTS, STATEMODE, EVENTMODE"
            selection_priority="2"
            dimension="3D"
            ts_default_number="30">
      </aggregation_operator>
   </extension>
       
</plugin>
