<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="idGenericMicroModel"
         name="MicroModel"
         point="fr.inria.soctrace.tools.ocelotl.core.microscopicmodel">
     <microscopic_model
     		name="Events"
     		class="fr.inria.soctrace.tools.ocelotl.microdesc.operators.EventDistribution"
     		unit="events"
            type="ALL">
      </microscopic_model>
      <microscopic_model
      		name="States"
      		class="fr.inria.soctrace.tools.ocelotl.microdesc.operators.StateDistribution"
      		unit="%TIME"
            type="STATE">
      </microscopic_model>
      <microscopic_model
     		name="Variables"
     		class="fr.inria.soctrace.tools.ocelotl.microdesc.operators.VariableDistribution"
     		unit="%UNKNOWN"
            type="VARIABLE">
      </microscopic_model>
   </extension>
       
   <extension
         id="idGenericAggregator"
         name="GenericAggregationOperators"
         point="fr.inria.soctrace.tools.ocelotl.core.timeaggregator">
      <aggregation_operator
            class="fr.inria.soctrace.tools.ocelotl.core.itimeaggregop.TemporalAggregation"
            event_category="ALL"
            generic="true"
            trace_formats="ALL"
            operator="Temporal Aggregation"
            param_config="fr.inria.soctrace.tools.ocelotl.microdesc.config.DistributionConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.microdesc.ui.TypeDistributionView"
            spatial_compatibility="Parts, Proportion"
            ts_default_number="100">
      </aggregation_operator>
      <aggregation_operator
            class="fr.inria.soctrace.tools.ocelotl.core.itimeaggregop.SpatioTemporalAggregation"
            event_category="ALL"
            generic="true"
            trace_formats="ALL"
            operator="Spatiotemporal Aggregation"
            param_config="fr.inria.soctrace.tools.ocelotl.microdesc.config.DistributionConfig"
            param_win="fr.inria.soctrace.tools.ocelotl.microdesc.ui.HierarchicalDistributionView"
            spatial_compatibility="Matrix, SMode"
            ts_default_number="30">
      </aggregation_operator>
   </extension>
       
</plugin>
